@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.todo{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.juegos{
    display:flex;
    flex-direction: row;
    background-color: rgba(51, 51, 51, 0.8);
    flex-wrap: wrap;
    margin: 1%;
    border-radius: 20px;
    width: 80%;
    height: min-content;
}

.filtrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    width: 18%;
    height: 55%;
    margin: 1%;
    border-radius: 20px;
    padding: 1rem;
}
.subtitulo{
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-decoration: double underline;
    text-decoration-thickness: 0.1rem; 
}
.btnPaginas {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.50em;
    font-weight: bolder;
    color: white;
    border: 2px solid #ccc;
    padding: 4px;
    border-radius: 5px;
    justify-content: center;
    width: 7rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
.disabledBtn{
    opacity: 0.5;
}
.btnContainer {
    align-self: flex-end;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.boton{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75em;
    font-weight: bolder;
    color: white;
    border: 2px solid #ccc;
    padding: 4px;
    border-radius: 5px;
    justify-content: center;
    width: 13rem;
    padding: 0.5rem;
    margin: 0.5rem;
    transition-duration: 500ms;
}
.boton:hover{
    width: 13.5rem;
}

.input{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75em;
    font-weight: bolder;
    color: white;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    width: 13rem;
    padding: 0.5rem;
  }
